.header{
    display: flex;
    max-width: 100%;
    background-color: rgb(230, 233, 235);
    padding: 20px;
    justify-content: end;
    margin-left: 20px;
    margin-right: 20px;
}
nav a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    margin-left: 20px;
    color:black;

}
nav a:hover{
    color: orange;
}